@import url('imports/header.css');

@import url('imports/fonts.css');

/*font-family: 'Courgette', cursive;
font-family: 'Source Sans Pro', sans-serif;*/


html{
    width: 100vw;
    height: 100vh;
    background-image: url('imagem/padrao-fundo.jpg');
}

body{
    width: 100vw;
    height: 100vh;

}

/* CONFIGURAÇÕES DO 'MAIN' */

main{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-top: 40px;
}

section {
    width: 800px;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-left: 81px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
}

h1{
    text-transform: uppercase;
    font-size: 45px;
}

h2{
    display: inline;
    width: 430px;
    color: rgb(252, 232, 247);
    padding: 5px 0px 10px 10px;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 30px;
    margin-bottom: 10px
}

/* BOTÃO DO 'MAIN'*/

div > a > button{
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(66, 42, 61, 0.219);
    font-family: 'Courgette' , 'cursive'; /*modificar fonte*/
    font-size: 30px;
    padding: 20px;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
    cursor: pointer;
}

    div > a > button:hover{
        background-color: rgba(240, 248, 255, 0.815);
        color:black;
        transition: 0.5s;
    }

/* CONFIGURAÇÕES DA IMAGEM DA MODELO */

main > img{
    border-radius: 15px;
    box-shadow: 0px 0px 10px white;
}

    main > img:hover{
        box-shadow: 0px 0px 20px rgb(157, 82, 226);
        transition: 0.5s;
    }

/* RODAPÉ*/

footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 80px;
}

#p-rodape{
    border-top: 1px solid whitesmoke;
}